.catalog {
  padding-bottom: 100px;
  &__tabs {
    margin-top: 70px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    padding-left: 0px;
  }
  &__tab {
    /* Таб */
    width: 223px;
    height: 52px;
    margin: 0 5px;
    transform: skewX(-25deg);
    background: rgba(0, 0, 0, 0.0001);
    border: 2px solid #d0d0d0;
    font-weight: 500;
    font-size: 18px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5s all;
    &:hover {
        box-shadow: 3px 3px 20px $main_color;
    }
    div {
      transform: skewX(25deg);
    }
    &_active {
      background: $main_color;
      color: #ffffff;
      border: none;
    }
  }
}
