.catalog {
  padding-bottom: 100px;
  &__tabs {
    margin-top: 70px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
    padding-left: 0px;
  }
  &__tab {
    /* Таб */
    width: 223px;
    height: 52px;
    margin: 0 5px;
    transform: skewX(-25deg);
    background: rgba(0, 0, 0, 0.0001);
    border: 2px solid #d0d0d0;
    font-weight: 500;
    font-size: 18px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.5s all;
    &:hover {
      box-shadow: 3px 3px 20px $main_color;
    }
    div {
      transform: skewX(25deg);
    }
    &_active {
      background: $main_color;
      color: #ffffff;
      border: none;
    }
  }
  &__content {
    margin-top: 57px;
  }
  &-item {
    /* Карточка */
    width: 303px;
    min-height: 442px;
    /* Прямоугольник 5 */
    border: 2px solid #e8e8e8;
    padding: 20px 20px 26px 20px;
    &__img {
      display: block;
      margin: 0 auto;
      max-width: 100%;
      height: 200px;
    }
    &__subtitle {
      /* Пульсометр Polar FT1   */
      margin-top: 15px;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 25px;
      text-align: center;
      color: #0d0d0d;
    }
    &__descr {
      /* Для первых шагов в тренировках, основанных на сердечном ритме  */
      margin-top: 15px;
      font-weight: 300;
      font-size: 14px;
      text-align: center;
      color: #0d0d0d;
    }
    &__link {
      /* ПОДРОБНЕЕ */
      display: block;
      margin-top: 10px;
      font-weight: 500;
      font-size: 14px;
      text-align: center;
      text-decoration-line: underline;
      color: $main_color;
      &:hover {
        color: $main_color;
      }
    }
    hr {
      /* Разделитель */
      background: #e8e8e8;
      margin-top: 17px;
      margin-bottom: 17px;
    }
    &__footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__old-price {
      /* 4 750 руб.  */
      font-weight: 300;
      font-size: 14px;
      text-decoration-line: line-through;
      color: #555555;
    }
    &__price {
      /* 4 500 руб. */
      font-weight: 700;
      font-size: 20px;
      color: #050505;
    }
  }
}
