@media (max-width: 992px) {
  // .container {
  //     padding: 0 3vw;
  // }
  .header {
    padding: 0 1vw;
  }

  .promo__wrapper {
    padding: 0 1vw;
  }
  .advantages__icon {
    padding: 0 2vw;
  }

  .consultation {
    .title_left,
    &__descr {
      margin-left: 1vw;
    }
  }

  .feed-form {
    margin-left: 1vw;
  }

  .carousel__inner {
    width: 100vw;
    img {
      display: block;
      margin: 0 auto;
      width: 95vw;
    }
  }

  .catalog {
    &__tab {
      width: fit-content;
      height: fit-content;
      line-height: 20px;
      font-size: 12px;
      div {
        padding: 0 5px;
      }
    }
    &__content {
        justify-content: space-evenly;
    }
  }

  .feedback {
    &__item {
      padding: 0 4vw;
    }
  }
}
@media (max-width: 769px) {
  .title {
    text-align: center;
    font-size: 19px;
  }

  .header {
    flex-direction: column;
    &__contacts {
      margin-top: 15px;
      align-items: center;
    }
  }

  .promo {
    &__wrapper {
      align-items: center;
      margin-top: 50px;
    }
    &__header {
      font-size: 22px;
      text-align: center;
    }
    &__subheader {
      font-size: 14px;
      text-align: center;
    }
    &__icons {
      width: 90vw;
      margin-top: 30px;
      flex-direction: column;
      align-items: center;
    }
    &__icon {
      margin-top: 25px;
      img {
        margin-bottom: 5px;
      }
    }
  }

  .advantages {
    &__wrapper {
      flex-direction: column;
      align-items: center;
    }
    &__subheader {
      margin-top: 20px;
    }
    &__icon {
      width: 90vw;
    }
  }

  .button_main {
    width: 240px;
    font-size: 13px;
  }

  .consultation {
    &__descr {
      text-align: center;
      font-size: 14px;
    }
  }

  .feed-form {
    margin: 36px auto 0px;
    width: 270px;
  }

  .catalog {
    &__content {
      justify-content: center;
    }
  }

  .feedback {
    &__item {
      flex-direction: column;
      align-items: center;
      gap: 30px;
      img {
        width: auto;
        height: 100px;
      }
    }
  }

  .footer {
    &__info {
      width: 100vw;
      height: 200px;

    }
    &__addr {
      font-size: 11px;
      margin-bottom: 20px;
    }
    &__phone {
      font-size: 16px;
      margin-top: 25px;
    }
    &__social {
      margin-top: 25px;
    }
    &__social-item {
      width: 25px;
      height: 25px;
      img {
        height: 14px;
      }
    }

  }

  .overlay {
    .modal {
      width: 320px;
      &__close {
        top: 10px;
        right: 10px;
        font-size: 30px;
      }
    }

  }
}
